**因子是“类别”数据对象**

分类型数据（category data）经常要把数据分成不同的水平或因子（factor）。比如，学生的性别包含男和女两个因子。因子代表变量的不同可能的水平（即使在数据中不出现）。在统计模型统计分析中十分有用，例如将0，1转换为’yes’,’no’就很方便，在R里可以使用factor函数来创建因子，函数形式如下：
        
             factor(x = character(), levels, labels = levels, exclude = NA, ordered = is.ordered(x))

 其中，levels用来指定因子的水平；labels用来指定水平的名字；exclude表示在x中需要排除的水平；ordered用来决定因子的水平是否有次序。

# 创建因子

## 无序因子
--factor函数

In [1]:
colour <- c('G', 'G', 'R', 'Y', 'G', 'Y', 'Y', 'R', 'Y')

In [2]:
col <- factor(colour, levels = c('G', 'R', 'Y'), labels = c('Green', 'Red', 'Yellow')) #创建一个因子
print(col)

[1] Green  Green  Red    Yellow Green  Yellow Yellow Red    Yellow
Levels: Green Red Yellow

In [3]:
class(col)

[1] "factor"

## 有序因子
--ordered函数

In [4]:
score <- c('A', 'B', 'A', 'C', 'B')
score1 <- ordered(score, levels = c('C', 'B', 'A'))
print(score1)

[1] A B A C B
Levels: C < B < A

In [5]:
class(score1)

[1] "ordered" "factor"

## 将numeric向量转化因子
--cut函数

In [6]:
exam <- c(60,70,80,90,99,65,72,86)
(exam1 <- cut(exam, breaks = 3)) #切分成3组--（max-min）/3=（99-60）/3

[1] (60,73] (60,73] (73,86] (86,99] (86,99] (60,73] (60,73] (73,86]
Levels: (60,73] (73,86] (86,99]

In [7]:
class(exam1)

[1] "factor"

In [8]:
(exam1 <- cut(exam,right=F, breaks = 3)) #right = F--闭区间不在右边，默认值是T

[1] [60,73) [60,73) [73,86) [86,99) [86,99) [60,73) [60,73) [86,99)
Levels: [60,73) [73,86) [86,99)

In [9]:
(exam2 <- cut(exam, breaks = c(0, 60, 70, 80, 90, 100), right = F)) # 切分成自己设置的组

[1] [60,70)  [70,80)  [80,90)  [90,100) [90,100) [60,70)  [70,80)  [80,90)
Levels: [0,60) [60,70) [70,80) [80,90) [90,100)

In [10]:
(exam3 <- cut(exam, breaks = c(0, 60, 70, 80,90,100),right = F,ordered_result = T)) #切分成自己设置的组，并且有序

[1] [60,70)  [70,80)  [80,90)  [90,100) [90,100) [60,70)  [70,80)  [80,90)
Levels: [0,60) < [60,70) < [70,80) < [80,90) < [90,100)

In [11]:
 #切分成自己设置的组
exam4 <- cut(exam, breaks = c(0, 60, 70, 80,90,100),right = F,labels = c('不及格','及格', '中', '良','优'))  #其实已有顺序关系
print(exam4)

[1] 及格 中   良   优   优   及格 中   良
Levels: 不及格 及格 中 良 优

In [12]:
y <- c("女","男","男","女","女","女","男") 
class(y)

[1] "character"

In [13]:
(f <- factor(y)) #生成因子

[1] 女 男 男 女 女 女 男
Levels: 男 女

In [14]:
class(f)

[1] "factor"

In [15]:
levels(f)      #因子水平--取哪些类别值

[1] "男" "女"

# 按照因子排序

In [16]:
(T1 <- data.frame(
  score = exam4,
  gender = factor(c("female", "male", "female", "male", "male", "female", "female", "male"))
)) # gender被自动转化为无序因子

  score gender
1 及格  female
2 中    male
3 良    female
4 优    male
5 优    male
6 及格  female
7 中    female
8 良    male

In [17]:
T1[with(T1, order(gender)), ]   #T1中gender不是有序因子--按照字典顺序

  score gender
1 及格  female
3 良    female
6 及格  female
7 中    female
2 中    male
4 优    male
5 优    male
8 良    male

In [18]:
(T2 <- data.frame(
  score = exam4,
  gender = ordered(c("female", "male", "female", "male", "male", "female", "female", "male"), levels = c("male", "female"))
))

  score gender
1 及格  female
2 中    male
3 良    female
4 优    male
5 优    male
6 及格  female
7 中    female
8 良    male

In [19]:
levels(T2$gender)   #与levels(T1$gender)比较，顺序发生了改变

[1] "male"   "female"

In [20]:
T2[with(T2, order(gender)), ]    #T2中gender是有序因子，按照指定的level升序排列-- 默认decreasing = FALSE

  score gender
2 中    male
4 优    male
5 优    male
8 良    male
1 及格  female
3 良    female
6 及格  female
7 中    female

In [21]:
T2[with(T2, order(gender, decreasing = T)), ] #T2中gender是有序因子，按照指定的level降序排列

  score gender
1 及格  female
3 良    female
6 及格  female
7 中    female
2 中    male
4 优    male
5 优    male
8 良    male

# 因子约束作用

因子中的取值被限制为其因子水平或缺失值，不能赋予别的值

In [22]:
(T2 <- data.frame(
  score = exam4,
  gender = ordered(c("female", "male", "female", "male", "male", "female", "female", "male"), levels = c("male", "female"))
))

  score gender
1 及格  female
2 中    male
3 良    female
4 优    male
5 优    male
6 及格  female
7 中    female
8 良    male

因子gender的取值被限制为“female”、“male”或缺失值。如果把不同的字符串添加到 genders 中，此项约束则变得很明显：

In [23]:
T2$gender[1]

[1] female
Levels: male < female

In [24]:
T2$gender[1] <- "Male"    # 注意是大写的 "M"

Warning message in `[<-.factor`(`*tmp*`, 1, value = "Male"):
"invalid factor level, NA generated"

In [25]:
(T2$gender[1] <- "male")

[1] "male"

In [26]:
T2

  score gender
1 及格  male
2 中    male
3 良    female
4 优    male
5 优    male
6 及格  female
7 中    female
8 良    male

# 去掉因子水平
在数据集清理的过程中，最终你可能需要去掉所有与因子水平对应的数据。考虑以下数据集，它记录了上班途中所使用的交通工具的次数：

In [27]:
(getting_to_work <- data.frame(mode = factor(c("bike", "car", "bus", "car", "walk","bike", "car", "bike", "car", "car" )),
                              time_mins = c(25, 13, NA, 22, 65, 28, 15, 24, NA, 14)))

   mode time_mins
1  bike 25
2  car  13
3  bus  NA
4  car  22
5  walk 65
6  bike 28
7  car  15
8  bike 24
9  car  NA
10 car  14

In [28]:
#去掉那些 time_mins 是 NA 的行 ：
(getting_to_work <- subset(getting_to_work, !is.na(time_mins)))

   mode time_mins
1  bike 25
2  car  13
4  car  22
5  walk 65
6  bike 28
7  car  15
8  bike 24
10 car  14

In [29]:
levels(getting_to_work$mode)

[1] "bike" "bus"  "car"  "walk"

In [30]:
unique(getting_to_work$mode)   #数据集中没有出现'bus'

[1] bike car  walk
Levels: bike bus car walk

删除未使用的水平因子，可以使用 droplevels 函数

In [31]:
getting_to_work <- droplevels(getting_to_work) 
levels(getting_to_work$mode)

[1] "bike" "car"  "walk"